header{float:right;}

#textAreas{width:70%; 
          padding:0.5em;}
          
#textAreas a{color:green;}

#textAreas a:hover{text-decoration:underline;}

legend{padding:0.5em;}

label{margin-left:1.2em;}

a{text-decoration: none;
  color:black;}
  
a:hover {text-decoration:underline;}

/* Sign up page */
input[type="text"] {margin-left:1.5em;}
textarea {margin-left:1.5em;}
input[type="password"] {margin-left:1.5em;}
input[type="date"] {margin-left:1.5em;}
input[type="email"] {margin-left:1.5em;}
input[type="number"] {margin-left:1.5em;}
select{margin-left:1.5em;}

/* Index page */

#container
{
    padding:0.5em;
    margin-left:20%;
    width:60%;
    background-color:white;
    height:690px; 
}

#entkey {
	margin-left: 50px;
	margin-top: 80;
	width: 200;
	margin:0.5em;
}

#trade {
	margin-left: 50px;
	margin-top: 20;
	width: 200;
	margin:0.5em;
}

#area {
	margin-left: 50px;
	margin-top: 20;
	width: 200;
	margin:0.5em;
}

#button {
	margin-left: 25px;
	margin-top: 30;
	width: 200;
	color: white;
	font-size:15px;
	background-color: orange;
	border-radius:20px;
}

#list1{
	list-style-type: none;
	float:left;
}

#list2{
	list-style-type: none;
	float:left;
	
}

#list3{
	list-style-type: none;
	float:left;
}

/* Sign up page */

section{width:50%;
        float:right;}